@using App.Features.Tasks.Create;
@using App.Features.Tasks.Create.Models;
@model WrapperViewModel<TaskCreateInputVM, TaskCreateOutputVM>

@{
	ViewData["Title"] = "Create Task";
	Layout = SharedViews.DefaultLayout;
	var inputVM = Model.InputVM;
	var outputVM = Model.OutputVM;

	inputVM.UserId = outputVM.UserId;
	inputVM.TodoListId = outputVM.TodoListId;
}

<h4>Create Task</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action="@TaskCtrl.CreateAction" asp-controller="@TaskCtrl.Name" method="post">
			<label asp-for="@outputVM.TodoListId" type="hidden" />
			<label asp-for="@inputVM.UserId" type="hidden" />
			<div class="form-group">
				<label asp-for="@outputVM.TodoListName" class="control-label">To Do List Name</label>
				<input asp-for="@outputVM.TodoListName" class="form-control" readonly />
			</div>
			<input asp-for="@inputVM.TodoListId" type="hidden" />
			<input asp-for="@inputVM.UserId" type="hidden" />
			<div class="form-group">
				<label asp-for="@inputVM.Title" class="control-label"></label>
				<input asp-for="@inputVM.Title" class="form-control" />
				<span asp-validation-for="@inputVM.Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@inputVM.Description" class="control-label"></label>
				<textarea asp-for="@inputVM.Description" class="form-control"></textarea>
				<span asp-validation-for="@inputVM.Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@inputVM.Deadline" class="control-label">Deadline</label>
				<input asp-for="@inputVM.Deadline" asp-format="{0:dd'/'MM'/'yyyy}" type="datetime-local" class="form-control" />
				<span asp-validation-for="@inputVM.Deadline" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@inputVM.ReminderDate" class="control-label">Reminder</label>
				<input asp-for="@inputVM.ReminderDate" asp-format="{0:dd'/'MM'/'yyyy}" type="datetime-local" class="form-control" />
				<span asp-validation-for="@inputVM.ReminderDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				<input type="submit" value="Create" class="btn" style="background-color: #671dff; color: white; font-weight: 500;" />
				<a asp-controller="@BoardsCtrl.Name" asp-action="@BoardsCtrl.BrieflyAction" asp-route-id="@outputVM.TodoListId" class="btn btn-primary">Back</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync(SharedViews.ValidationPartial);
	}
}
