@using TODO_Domain_Entities;
@using TODO_Domain_Entities.Helpers;
@model TaskModel

@{
	int iterator = 1;
	string classValue = "table-light";
}
<div class="row">
	<div class="col-sm-12">
		<div class="page-header" style="padding: 15px 0px 10px 20px;">
			<h5 id="tables">@ViewData["TableTitle"]</h5>
		</div>
		<div class="bs-component">
			<table class="table table-hover">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Title</th>
						<th scope="col">Description</th>
						<th scope="col">Status</th>
						<th scope="col">Days Left</th>
						<th scope="col">Deadline</th>
						<th scope="col">Modified</th>
						<th scope="col">Created</th>
					</tr>
				</thead>
				<tbody>
					@{
						classValue = "table-light";

						if (Model.Status == TaskStatusHelper.TaskStatusType.Completed)
						{
							classValue = "table-success";
						}

						if (Model.DueDate.CompareTo(DateTime.Today) < 0)
						{
							classValue = "table-dark";
						}

						<tr class="@classValue">
							<th scope="row">@iterator</th>
							<td class="col-3">@Model.Title</td>
							<td class="col-6">@Model.Description</td>
							<td class="col-1">@Model.Status.ToString()</td>
							<td class="col-1">
								@{
									var days = (Model.DueDate - DateTime.Now).Days;
								}
								@days
							</td>
							<td class="col-1">@Model.DueDate.ToString("HH:mm dddd dd MM")</td>
							<td class="col-1">@Model.LastModificationDate.ToString("HH:mm dddd dd MM")</td>
							<td class="col-1">@Model.CreationDate.ToString("HH:mm dddd dd MM")</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
