@using Web.Infrastructure.Helpers;
@using Web.TodoLists.Delete;
@model TodoListDeleteOutputVM;

@{
    ViewData["Title"] = "Delete";
    Layout = SharedViews.DefaultLayout;
}

<div>
    <h4>Delete To Do List</h4>
    <h5>Are you sure you want to delete this?</h5>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayName("Tasks")
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TasksCount)
        </dd>
    </dl>
    
    <form asp-action=@TodoListCtrl.DeletePostAction method="post">
        <input type="hidden" asp-for="@Model.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action=@BoardsCtrl.BrieflyAction asp-controller=@BoardsCtrl.Name class="btn btn-primary">Back</a>
    </form>
</div>
