@* @using static App.Common.Views.ViewsConsts;
@using static App.Common.ControllersConsts;
@using App.Common.ViewModels; *@
@using App.Features.Tasks.Edit;
@using App.Common.Helpers;
@model WrapperViewModel<TaskEditInputVM, TaskEditOutputVM>
@{
	ViewData["Title"] = "Edit";
	TaskEditInputVM inputVM = Model.InputVM;
	TaskEditOutputVM outputVM = Model.OutputVM;
	inputVM.Description = outputVM.Description;
	inputVM.DueDate = outputVM.DueDate;
	inputVM.Status = outputVM.Status;
	inputVM.TodoListId = outputVM.TodoListId;
	string dueDateString = outputVM.DueDate.ToString(AttributesHelper.DataFormat);
	string reminderDateString = outputVM.ReminderDate?.ToString(AttributesHelper.DataFormat) ?? string.Empty;

	DateTime LastModificationDate = DateTime.Now;

	object SetLastModificationDate(object sender, EventArgs e)
	{
		LastModificationDate = DateTime.Now;
		inputVM.LastModificationDate = LastModificationDate;
		return sender;
	}

}

<h4>Edit Task</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-controller="@TaskCtrl.Name" asp-action="@TaskCtrl.EditPostAction" asp-route-todoListId="@outputVM.TodoListId" asp-route-taskId="@outputVM.Id" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="@inputVM.Id" type="hidden" value="@outputVM.Id"/>
			<input asp-for="@inputVM.UserId" type="hidden" value="@outputVM.UserId" />
			<div class="form-group">
				<label asp-for="@inputVM.Title" class="control-label" style="font-weight: 600;"></label>
				<input asp-for="@inputVM.Title" class="form-control" value="@outputVM.Title"/>
				<span asp-validation-for="@inputVM.Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@inputVM.Description" class="control-label" style="font-weight: 600;"></label>
				<textarea asp-for="@inputVM.Description" class="textarea form-control"></textarea>
				<span asp-validation-for="@inputVM.Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@inputVM.DueDate" class="control-label" style="font-weight: 600;">Deadline</label>
				<input asp-for="@inputVM.DueDate" class="form-control" value="@dueDateString" type="datetime-local" />
				<span asp-validation-for="@inputVM.DueDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@inputVM.ReminderDate" class="control-label" style="font-weight: 600;">Reminder</label>
				<input asp-for="@inputVM.ReminderDate" class="form-control" value="@reminderDateString" type="datetime-local" />
				<span asp-validation-for="@inputVM.ReminderDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@inputVM.Status" class="control-label" style="font-weight: 600;"></label>
				<select asp-for="@inputVM.Status" class="form-select" asp-items="@outputVM.StatusSelector"></select>
				<span asp-validation-for="@inputVM.Status" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@inputVM.TodoListId" class="control-label" style="font-weight: 600;">To Do List</label>
				<select asp-for="@inputVM.TodoListId" class="form-select" asp-items="@outputVM.TodoListSelector"></select>
				<span asp-validation-for="@inputVM.TodoListId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn" style="background-color: #671dff; color: white; font-weight: 500;" onclick="@SetLastModificationDate(this, EventArgs.Empty)" />
				<a asp-controller=@TodoListCtrl.Name asp-action=@TodoListCtrl.DetailsAction asp-route-id="@outputVM.TodoListId" class="btn btn-primary">Back</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync(SharedViews.ValidationPartial);
	}
}
