@using App.Features.Tasks.Show;
@model ShowTaskOutputVM

@{
	ViewData["Title"] = "Show Task Details";
	Layout = SharedViews.DefaultLayout;
}

<div>
	<h4>Task Details</h4>
	<hr />

	<partial name="@SharedViews.TaskTableDetails" model="@Model" />

	<input type="hidden" name="routeTodoListId" asp-for="@Model.TodoListId" />
	<input type="hidden" name="routeTaskId" asp-for="@Model.Id" />
	<input type="hidden" asp-for="@Model.UserId" />
    <a asp-controller="@TodoListCtrl.Name" asp-action="@TodoListCtrl.ShowAction" asp-route-id="@Model.TodoListId" class="btn btn-primary">Back</a>
</div>
