@using App.Common.Helpers
@using App.Common.ViewModels
@model FilterDueDatePanelModel

@{
	DateTime? filterDueDate = Model.FilterDueDate;
	string actionName = Model.ActionName;
	string controllerName = Model.ControllerName;
	Guid parentId = Model.ParentId;
	string filterFormId = "filterDate";
	string resetFormId = "resetDate";
	int pageNumber = Model.PageNumber;
	int itemsPerPageCount = Model.ItemsPerPageCount;
}

<div class="row">
	<div class="col-md-4">
		<div class="card-group">

			<form id="@resetFormId" method="get"
				  asp-controller="@controllerName"
				  asp-action="@actionName"
				  asp-route-id="@parentId"
				  asp-route-pageNumber="@pageNumber"
				  asp-route-itemsPerPageCount="@itemsPerPageCount"
				  asp-route-filterDueDate="@null">
			</form>

			<form id="@filterFormId" method="get"
				  asp-controller="@controllerName"
				  asp-action="@actionName"
				  asp-route-id="@parentId"
				  asp-route-pageNumber="@pageNumber"
				  asp-route-itemsPerPageCount="@itemsPerPageCount"
				  asp-route-filterDueDate="@filterDueDate">

				<input asp-for="@pageNumber" type="hidden" />
				<input asp-for="@itemsPerPageCount" type="hidden" />
				<input asp-for="@filterDueDate" class="form-control"
					   asp-format="@AttributesHelper.DataFormat" />

				<span asp-validation-for="@filterDueDate"
					  class="text-danger" type="datetime-local">
				</span>

			</form>

			<button type="submit" class="btn btn-sm btn-warning" form="@filterFormId">Filter</button>
			<button type="submit" class="btn btn-sm btn-danger" form="@resetFormId">Reset</button>
		</div>
	</div>
</div>
<br />