@using App.Common
@using App.Common.Helpers
@using App.Common.ViewModels
@model ItemsPerPagePanelVM

@{
	string? controllerName = ViewContext.RouteData.Values["controller"]?.ToString();
	string? actionName = ViewContext.RouteData.Values["action"]?.ToString();
	int? todoListId = Model?.TodoListId;
	string? filterDueDate = Model?.FilterDueDate?.ToString(AttributesHelper.DataFormat);

	int firstPageIndicator = 1;
	int defaultItemsPerPageCount = @ControllersConsts.DefaultItemsPerPageCount;
	int firstOptionItemsPerPageCount = @ControllersConsts.FirstOptionItemsPerPageCount;
	int secondOptionItemsPerPageCount = @ControllersConsts.SecondOptionItemsPerPageCount;
	int thirdOptionItemsPerPageCount = @ControllersConsts.ThirdOptionItemsPerPageCount;
}

<label>Items Per Page</label>
<dl class="row">
	<dd class="col-sm-5">
		<div class="btn-group" role="group" aria-label="Items Per Page">

			@{
				await ShowControllerAsync(defaultItemsPerPageCount);
				await ShowControllerAsync(firstOptionItemsPerPageCount);
				await ShowControllerAsync(secondOptionItemsPerPageCount);
				await ShowControllerAsync(thirdOptionItemsPerPageCount);
			}

		</div>
	</dd>
</dl>


@{
	async Task ShowControllerAsync(int itemsPerPageCount)
	{
		<a class="btn btn-primary"
		   asp-controller="@controllerName"
		   asp-action="@actionName"
		   asp-route-id="@todoListId"
		   asp-route-pageNumber="@firstPageIndicator"
		   asp-route-itemsPerPageCount="@itemsPerPageCount"
		   asp-route-filterDueDate="@filterDueDate">
			@itemsPerPageCount
		</a>
	}
}