@using App.Common.Helpers
@using App.Features.Pagination;

@model PaginationPanel

@{
	PaginationData paginData = Model.PaginData;
	string controllerName = Model.ControllerName;
	string actionName = Model.ActionName;
}

<p>
	<nav aria-label="...">
		<ul class="pagination">

			@if (paginData.IsNotCurrentPageFirstPage)
			{
				if (paginData.FilterDueDate == null)
				{
					<li class="page-item">
						<a class="page-link"
						   asp-controller="@controllerName"
						   asp-action="@actionName"
						   asp-route-pageNumber="@paginData.PreviousPageNumber"
						   asp-route-itemsPerPageCount="@paginData.ItemsPerPageCount">
							Previous
						</a>
					</li>
					<li class="page-item">
						<a class="page-link"
						   asp-controller="@controllerName"
						   asp-action="@actionName"
						   asp-route-pageNumber="@paginData.PreviousPageNumber"
						   asp-route-itemsPerPageCount="@paginData.ItemsPerPageCount">
							@paginData.PreviousPageNumber
						</a>
					</li>
				}
				else
				{
					<li class="page-item">
						<a class="page-link"
						   asp-controller="@controllerName"
						   asp-action="@actionName"
						   asp-route-filterDueDate="@paginData.FilterDueDate?.ToString(AttributesHelper.DataFormat)"
						   asp-route-pageNumber="@paginData.PreviousPageNumber"
						   asp-route-itemsPerPageCount="@paginData.ItemsPerPageCount">
							Previous
						</a>
					</li>
					<li class="page-item">
						<a class="page-link"
						   asp-controller="@controllerName"
						   asp-action="@actionName"
						   asp-route-filterDueDate="@paginData.FilterDueDate?.ToString(AttributesHelper.DataFormat)"
						   asp-route-pageNumber="@paginData.PreviousPageNumber"
						   asp-route-itemsPerPageCount="@paginData.ItemsPerPageCount">
							@paginData.PreviousPageNumber
						</a>
					</li>
				}
			}

			<li class="page-item active">
				<span class="page-link">
					@paginData.CurrentPageNumber
				</span>
			</li>

			@if (paginData.IsThereNextPage)
			{
				if (paginData.FilterDueDate == null)
				{
					<li class="page-item">
						<a class="page-link"
						   asp-controller="@controllerName"
						   asp-action="@actionName"
						   asp-route-pageNumber="@paginData.NextPageNumber"
						   asp-route-itemsPerPageCount="@paginData.ItemsPerPageCount">
							@paginData.NextPageNumber
						</a>
					</li>
					<li class="page-item">
						<a class="page-link"
						   asp-controller="@controllerName"
						   asp-action="@actionName"
						   asp-route-pageNumber="@paginData.NextPageNumber"
						   asp-route-itemsPerPageCount="@paginData.ItemsPerPageCount">
							Next
						</a>
					</li>
				}
				else
				{

					<li class="page-item">
						<a class="page-link"
						   asp-controller="@controllerName"
						   asp-action="@actionName"
						   asp-route-filterDueDate="@paginData.FilterDueDate?.ToString(AttributesHelper.DataFormat)"
						   asp-route-pageNumber="@paginData.NextPageNumber"
						   asp-route-itemsPerPageCount="@paginData.ItemsPerPageCount">
							@paginData.NextPageNumber
						</a>
					</li>
					<li class="page-item">
						<a class="page-link"
						   asp-controller="@controllerName"
						   asp-action="@actionName"
						   asp-route-filterDueDate="@paginData.FilterDueDate?.ToString(AttributesHelper.DataFormat)"
						   asp-route-pageNumber="@paginData.NextPageNumber"
						   asp-route-itemsPerPageCount="@paginData.ItemsPerPageCount">
							Next
						</a>
					</li>
				}
			}

		</ul>
	</nav>
</p>