@    using Project_DomainEntities;
@    using Project_Main.Infrastructure.Helpers;
@    using Project_Main.Models.Generics.ViewModels.WrapperModels;
@    using Project_Main.Models.Inputs.ViewModels;
@    using Project_Main.Models.Outputs.ViewModels;
    using Project_Main.ViewModels.Outputs;
@model WrapperViewModel<TaskDeleteInputVM, TaskDeleteOutputVM>

@{
	ViewData["Title"] = "Delete";
	var inputVM = Model.InputVM;
	var outputVM = Model.OutputVM;
}

<div>
	<h4>Delete Task</h4>
	<hr />
	<h5>Are you sure you want to delete this?</h5>

	<partial name="@SharedViews.TaskTableDetails" model="@Model.OutputVM" />

	<form asp-action="@TaskCtrl.DeletePostAction" asp-controller="@TaskCtrl.Name" method="post">
		<input type="hidden" asp-for="@inputVM.TodoListId" value="@outputVM.TodoListId" />
		<input type="hidden" asp-for="@inputVM.Id" value="@outputVM.Id" />
		<input type="submit" value="Delete" class="btn btn-danger" />
	</form>
	<a asp-controller="@TodoListCtrl.Name" asp-action="@TodoListCtrl.DetailsAction" asp-route-id="@outputVM.TodoListId" class="btn btn-primary">Back</a>
</div>
