@using Project_Main.Infrastructure.Helpers;
@using Project_Main.Models.ViewModels.InputModels;
@using Project_Main.Models.ViewModels.OutputModels;
@using Project_Main.Models.ViewModels.WrapperModels;
@model WrapperViewModel<TaskEditInputVM, TaskEditOutputVM>
@{
	ViewData["Title"] = "Edit";
	TaskEditInputVM inputVM = Model.InputVM;
	TaskEditOutputVM outputVM = Model.OutputVM;
	inputVM.Description = outputVM.Description;

	DateTime LastModificationDate = DateTime.Now;

	object SetLastModificationDate(object sender, EventArgs e)
	{
		LastModificationDate = DateTime.Now;
		return sender;
	}

}

<h4>Edit Task</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-action=@TaskCtrl.EditAction method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="@inputVM.Id" name="id" type="hidden" value="@outputVM.Id"/>
			<input asp-for="@inputVM.UserId" type="hidden" value="@outputVM.UserId" />
			<div class="form-group">
				<label asp-for="@inputVM.Title" class="control-label" style="font-weight: 600;"></label>
				<input asp-for="@inputVM.Title" class="form-control" value="@outputVM.Title"/>
				<span asp-validation-for="@inputVM.Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@inputVM.Description" class="control-label" style="font-weight: 600;"></label>
				<textarea asp-for="@inputVM.Description" class="textarea form-control"></textarea>
				<span asp-validation-for="@inputVM.Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@inputVM.DueDate" class="control-label" style="font-weight: 600;">Deadline</label>
				<input asp-for="@inputVM.DueDate" class="form-control" value="@outputVM.DueDate" type="datetime-local" />
				<span asp-validation-for="@inputVM.DueDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@inputVM.ReminderDate" class="control-label" style="font-weight: 600;">Reminder</label>
				<input asp-for="@inputVM.ReminderDate" class="form-control" value="@outputVM.ReminderDate" />
				<span asp-validation-for="@inputVM.ReminderDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@inputVM.Status" class="control-label" style="font-weight: 600;"></label>
				<select asp-for="@inputVM.Status" class="form-select" asp-items="@outputVM.StatusSelector"></select>
				<span asp-validation-for="@inputVM.Status" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="@inputVM.TodoListId" class="control-label" style="font-weight: 600;">To Do List</label>
				<select asp-for="@inputVM.TodoListId" name="todoListId" class="form-select" asp-items="@outputVM.TodoListsSelector"></select>
				<span asp-validation-for="@inputVM.TodoListId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn" style="background-color: #671dff; color: white; font-weight: 500;" onclick="@SetLastModificationDate(this, EventArgs.Empty)" />
				<a asp-controller=@TodoListCtrl.Name asp-action=@TodoListCtrl.DetailsAction asp-route-id="@outputVM.TodoListId" class="btn btn-primary">Back</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync(SharedViews.ValidationPartial);
	}
}
