@model Project_Main.Models.ViewModels.InputModels.TaskCreateInputVM

@{
	ViewData["Title"] = "Edit";

	DateTime LastModificationDate = DateTime.Now;

	object SetLastModificationDate(object sender, EventArgs e)
	{
		LastModificationDate = DateTime.Now;
		return sender;
	}
}

<h4>Edit Task</h4>
<hr />
<div class="row">
	<div class="col-md-4">
		<form asp-controller="Task" asp-action="Edit" method="post">
			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input asp-for="Id" name="id" type="hidden" />
			<input asp-for="UserId" type="hidden" value="@Model.UserId"/>
			<div class="form-group">
				<label asp-for="Title" class="control-label" style="font-weight: 600;"></label>
				<input asp-for="Title" class="form-control" />
				<span asp-validation-for="Title" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="Description" class="control-label" style="font-weight: 600;"></label>
				<textarea asp-for="Description" class="form-control"></textarea>
				<span asp-validation-for="Description" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="DueDate" class="control-label" style="font-weight: 600;">Deadline</label>
				<input asp-for="DueDate" class="form-control" />
				<span asp-validation-for="DueDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="ReminderDate" class="control-label" style="font-weight: 600;">Reminder</label>
				<input asp-for="ReminderDate" class="form-control" />
				<span asp-validation-for="ReminderDate" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input asp-for="LastModificationDate" type="hidden" value="@LastModificationDate" />
			</div>
			<div class="form-group">
				<input asp-for="CreationDate" type="hidden" value="@Model.CreationDate" />
			</div>
			<div class="form-group">
				<label asp-for="Status" class="control-label" style="font-weight: 600;"></label>
				<select asp-for="Status" class="form-select" asp-items="Model.StatusSelector"></select>
				<span asp-validation-for="Status" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="TodoListId" class="control-label" style="font-weight: 600;">To Do List</label>
				<select asp-for="TodoListId" name="todoListId" class="form-select" asp-items="Model.TodoListsSelector"></select>
				<span asp-validation-for="TodoListId" class="text-danger"></span>
			</div>
			<div class="form-group">
				<input type="submit" value="Save" class="btn" style="background-color: #671dff; color: white; font-weight: 500;" onclick="@SetLastModificationDate(this, EventArgs.Empty)" />
				<a asp-controller="TodoList" asp-action="SingleDetails" asp-route-id="@Model.TodoListId" class="btn btn-primary">Back</a>
			</div>
		</form>
	</div>
</div>

@section Scripts {
	@{
		await Html.RenderPartialAsync("_ValidationScriptsPartial");
	}
}
