@using App.Common
@using App.Common.Helpers
@using App.Features.TodoLists.Show;
@using App.Features.TodoLists.Show.Models;
@using App.Features.Pagination;
@model TodoListDetailsOutputVM

@{
	ViewData["Title"] = "Details";
	DateTime? filterDueDate = null;
	Layout = SharedViews.DefaultLayout;

	PaginationData paginData = Model.PaginData;
}

<div>
	<div class="col-sm-2">
		<h4>@Html.DisplayNameFor(model => model.Name)</h4>
	</div>
	<div class="col-sm-8">
		<h4>@Html.DisplayFor(model => model.Name)</h4>
	</div>
	<dl class="row">
		<dd class="col-sm-5">
			<a asp-action=@TaskCtrl.CreateAction asp-controller=@TaskCtrl.Name asp-route-id="@Model?.Id" method="get" class="btn" style="background-color: #671dff; color: white; font-weight: 500;">New Task</a>
			<a asp-action=@TodoListCtrl.EditAction asp-controller=@TodoListCtrl.Name asp-route-id="@Model?.Id" class="btn btn-warning">Edit</a>
			<a asp-action=@BoardsCtrl.BrieflyAction asp-controller="@BoardsCtrl.Name" class="btn btn-primary">Back</a>
		</dd>
	</dl>


	<partial name="@SharedViews.ItemsPerPagePanel" controller="@TodoListCtrl.Name" action="@TodoListCtrl.ShowAction" />


	@{
		if (Model != null && Model.TasksForTodayCount > 0)
		{
			ViewData["SetClassReminder"] = null;
			ViewData["TableTitle"] = "Tasks For Today";
			<partial name="@SharedViews.TodoListTable" model="@Model?.TasksForToday" />
		}
	}


	<partial name="@SharedViews.FilterDueDatePanel" model="@new FilterDueDatePanelModel(Model?.Id, filterDueDate, TodoListCtrl.Name, TodoListCtrl.ShowAction)" />


	@{
		ViewData["SetClassReminder"] = "IamNotNull";
		ViewData["TableTitle"] = "Tasks Not Started & In Progress";
	}

	<partial name="@SharedViews.TodoListTable" model="@Model?.TasksNotCompleted" view-data="ViewData" />


	@{
		if (Model != null && Model.TasksCompletedCount > 0)
		{
			ViewData["SetClassReminder"] = null;
			ViewData["TableTitle"] = "Tasks Completed";
			<partial name=@SharedViews.TodoListTable model="@Model?.TasksCompleted" view-data="ViewData" />
		}

		if (Model != null && Model.TasksExpiredCount > 0)
		{
			ViewData["SetClassReminder"] = null;
			ViewData["TableTitle"] = "Tasks Expired!";
			<partial name=@SharedViews.TodoListTable model="@Model?.TasksExpired" view-data="ViewData" />
		}
	}
</div>


@if (paginData.AreTherePagesToShow)
{
	var paginationPanel = new PaginationPanel(paginData, TodoListCtrl.Name, TodoListCtrl.ShowAction);
	<partial name="@SharedViews.PaginationPanel" model="@paginationPanel" />
}


@section Scripts {
	@{
		await Html.RenderPartialAsync(SharedViews.ValidationPartial);
	}
}